:host {
	svg {
		width: 94px;
		#bg {
		}
		#outline {
			fill: #b5b7b8;
		}

		.river {
			display: none;
		}
		#river-south-east {
		}
		#river-north-west {
		}
		#river-south-west {
		}
		#river-north-east {
		}
		#river-west {
		}
		#river-east {
		}


		// primary regions
		.primary {
			display: none;
		}
		#mountain {
		}
		#tundra {
		}
		#forest {
		}
		#farm {
		}
		#village {
		}

		// lake
		#lake {
			display: none;
		}


		// misc
		.misc {
			display: none;
		}
		#factory {
		}
		#tunnel {
		}
		#encounter {
		}
		#leader {
		}


		// workers
		.worker {
			display: none;
		}
		#worker-1 {
		}
		#worker-2 {
		}
		#worker-3 {
		}
		#worker-4 {
		}
		#worker-5 {
		}
		#worker-6 {
		}
		#worker-7 {
		}
		#worker-8 {
		}


		// resources
		.resource {
			display: none;
		}
		#wood {
		}
		#steel {
		}
		#food {
		}
		#oil {
		}


		// mechs
		.mech {
			display: none;
		}
		#mech-1 {
		}
		#mech-2 {
		}
		#mech-3 {
		}
		#mech-4 {
		}
	}
}
