@mixin bg-element {
	fill: #e6e6e6;
	opacity: 0.2;
}
:host {
	position: relative;
	display: block;
	float: left;
	// --myWidth: 14rem;
	// --myWidth: 94px;
	--myWidth: 10.5vh;
	--qW: calc(var(--myWidth) / 4);
	--xMarg: calc(var(--qW) * 1.5);
	--myMinHeight: calc(var(--myWidth) / 1.154);
	cursor: pointer;
	width: var(--myWidth);
	min-height: var(--myMinHeight);
	p.fieldIndex {
		display: block;
		padding: 1px 0 1px 1px;
		margin: 0;
		width: var(--qW);
		position: absolute;
			bottom: var(--qW);
			left: var(--xMarg);
			right: var(--xMarg);
			top: auto;

		opacity: 0.7;
		color: white;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		border: 1px solid rgba(0,0,0,0);
		border-radius: 4px;
		// background-color: #00fbfb;
		text-align: center;
		font-size: 0.7rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
	}
	span.textlabel {
		z-index: 500;
		margin: auto;
		padding: 0;
		width: 100%;
		max-height: 1rem;
		position: absolute;
			top: calc(var(--qW)*1.9);
			left: auto;
			right: auto;
			bottom: auto;
		text-align: center;
		font-size: calc(var(--qW)/2);
		font-weight: bold;
	}

	svg {
		width: var(--myWidth);

		#bg {
			opacity: 1;
		}
		#highlight {
			opacity: 0;
		}

		#outline {
			// fill: #b5b7b8;
			display: none;
		}
		#home_outline {
			// display: none;
		}

		.river {
		}

		#river_south_east {
		}

		#river_north_west {
		}

		#river_south_west {
		}

		#river_north_east {
		}

		#river_west {
		}

		#river_east {
		}


		// primary regions
		.primary {
			@include bg-element;
		}

		#mountain {
		}

		#tundra {
		}

		#forest {
		}

		#farm {
		}

		#village {
		}

		// lake
		#lake {
		}


		// misc
		.misc {

		}

		#factory {
			@include bg-element;
		}

		#tunnel {
		}

		#encounter {
		}

		#leader {
		}


		// workers
		.worker {

		}

		#worker_1 {
		}

		#worker_2 {
		}

		#worker_3 {
		}

		#worker_4 {
		}

		#worker_5 {
		}

		#worker_6 {
		}

		#worker_7 {
		}

		#worker_8 {
		}


		// resources
		.resource {

		}

		#wood {
		}

		#steel {
		}

		#food {
		}

		#oil {
		}


		// mechs
		.mech {
		}

		#mech_1 {
		}

		#mech_2 {
		}

		#mech_3 {
		}

		#mech_4 {
		}

		// paths
		.path {

		}
	}
}

:host:hover {
	svg {
		#bg {
			// opacity: 0.5;
		}
		#highlight {
			opacity: 1;
		}
		#outline {
			// fill: limegreen;
		}
		#home_outline {
			// fill: darkorange;
		}
	}

	p.fieldIndex {
		color: white;
		border: 1px solid white;
	}
}
