:host {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;

	//--hexWidth: 94px;
	--hexWidth: 10.5vh;
	//--leftOffset: 47px;
	--leftOffset: calc(var(--hexWidth)/2);
	div#board {
		background-color: #cfc5c5;
		background-size: cover;
		margin: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: start;
		.line {
			// margin-top: -33px;
			margin-top: calc(var(--hexWidth)/-3);
			hextile {
				svg {
					width: calc(var(--leftOffset)*2);

					#outline {
						display: none;
					}
				}
			}
		}
		#l1 {
			margin-top: 0;
			margin-left: calc(var(--leftOffset)*3);
			#D0 {
				margin-left: calc(var(--leftOffset)*4);
			}
		}
		#l2 {
			margin-left: calc(var(--leftOffset)*2);
		}
		#l3 {
			margin-left: var(--leftOffset);
		}
		#l4 {
		}
		#l5 {
			margin-left: var(--leftOffset);
		}
		#l6 {
		}
		#l7 {
			margin-left: var(--leftOffset);
		}
		#l8 {
		}
		#l9 {
			margin-left: calc(var(--leftOffset)*5);
		}
	}
}
