<div id="board">
	<div class="line" id="l1">
		<hextile id="a0"></hextile>
		<hextile id="d0"></hextile>
	</div>
	<div class="line" id="l2">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l3">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l4">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l5">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l6">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l7">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l8">
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
		<hextile></hextile>
	</div>
	<div class="line" id="l9">
		<hextile></hextile>
		<hextile></hextile>
	</div>
</div>
