<div id="board">
	<div class="line" id="l1">
		<hextile fi="A0"></hextile>
		<hextile id="D0"fi="D0"></hextile>
	</div>
	<div class="line" id="l2">
		<hextile fi="A1"></hextile>
		<hextile fi="B1"></hextile>
		<hextile fi="C1"></hextile>
		<hextile fi="D1"></hextile>
		<hextile fi="E1"></hextile>
		<hextile fi="F1"></hextile>
	</div>
	<div class="line" id="l3">
		<hextile fi="A2"></hextile>
		<hextile fi="B2"></hextile>
		<hextile fi="C2"></hextile>
		<hextile fi="D2"></hextile>
		<hextile fi="E2"></hextile>
		<hextile fi="F2"></hextile>
		<hextile fi="G2"></hextile>
	</div>
	<div class="line" id="l4">
		<hextile fi="A3"></hextile>
		<hextile fi="B3"></hextile>
		<hextile fi="C3"></hextile>
		<hextile fi="D3"></hextile>
		<hextile fi="E3"></hextile>
		<hextile fi="F3"></hextile>
		<hextile fi="G3"></hextile>
		<hextile fi="H3"></hextile>
	</div>
	<div class="line" id="l5">
		<hextile fi="B4"></hextile>
		<hextile fi="C4"></hextile>
		<hextile fi="D4"></hextile>
		<hextile fi="E4"></hextile>
		<hextile fi="F4"></hextile>
		<hextile fi="G4"></hextile>
		<hextile fi="H4"></hextile>
	</div>
	<div class="line" id="l6">
		<hextile fi="B5"></hextile>
		<hextile fi="C5"></hextile>
		<hextile fi="D5"></hextile>
		<hextile fi="E5"></hextile>
		<hextile fi="F5"></hextile>
		<hextile fi="G5"></hextile>
		<hextile fi="H5"></hextile>
	</div>
	<div class="line" id="l7">
		<hextile fi="C6"></hextile>
		<hextile fi="D6"></hextile>
		<hextile fi="E5"></hextile>
		<hextile fi="F6"></hextile>
		<hextile fi="G6"></hextile>
		<hextile fi="H6"></hextile>
		<hextile fi="I6"></hextile>
	</div>
	<div class="line" id="l8">
		<hextile fi="C7"></hextile>
		<hextile fi="D7"></hextile>
		<hextile fi="E7"></hextile>
		<hextile fi="F7"></hextile>
		<hextile fi="G7"></hextile>
		<hextile fi="H7"></hextile>
		<hextile fi="I7"></hextile>
		<hextile fi="J7"></hextile>
	</div>
	<div class="line" id="l9">
		<hextile fi="F8"></hextile>
		<hextile fi="G8"></hextile>
	</div>
</div>
