<div id="board">
	<div class="line" id="l1">
		<hextile fi="A0" faction="Albion"></hextile>
		<hextile id="D0" fi="D0" faction="Nordic"></hextile>
	</div>
	<div class="line" id="l2">
		<hextile fi="A1" terrain="mountain"></hextile>
		<hextile fi="B1" terrain="farm"></hextile>
		<hextile fi="C1" terrain="village" river="east,south_east,south_west"></hextile>
		<hextile fi="D1" terrain="forest" river="west,south_west"></hextile>
		<hextile fi="E1" terrain="tundra" river="east,south_east"></hextile>
		<hextile fi="F1" terrain="village" river="west"></hextile>
	</div>
	<div class="line" id="l3">
		<hextile fi="A2" terrain="lake"></hextile>
		<hextile fi="B2" terrain="tundra" river="west,south_west"></hextile>
		<hextile fi="C2" terrain="lake"></hextile>
		<hextile fi="D2" terrain="tundra" river="north_east,north_west,east"></hextile>
		<hextile fi="E2" terrain="mountain" river="west,south_west,south_east,east"></hextile>
		<hextile fi="F2" terrain="farm" river="west,north_west,south_east"></hextile>
		<hextile fi="G2" terrain="farm" river="south_west,south_east"></hextile>
	</div>
	<div class="line" id="l4">
		<hextile fi="A3" faction="Polania"></hextile>
		<hextile fi="B3" terrain="forest" river="north_east,east"></hextile>
		<hextile fi="C3" terrain="mountain" river="west,south_west"></hextile>
		<hextile fi="D3" terrain="forest"></hextile>
		<hextile fi="E3" terrain="lake"></hextile>
		<hextile fi="F3" terrain="forest" river="north_west,east,south_east"></hextile>
		<hextile fi="G3" terrain="village" river="north_west,north_east,west"></hextile>
		<hextile fi="H3" faction="Russviet" river="north_west"></hextile>
	</div>
	<div class="line" id="l5">
		<hextile fi="B4" terrain="farm" river="south_west,south_east"></hextile>
		<hextile fi="C4" terrain="village" river="south_west,south_east,east,north_east"></hextile>
		<hextile fi="D4" terrain="lake"></hextile>
		<hextile fi="E4" terrain="factory"></hextile>
		<hextile fi="F4" terrain="mountain" river="east"></hextile>
		<hextile fi="G4" terrain="tundra" river="north_west,west,south_west,south_east"></hextile>
		<hextile fi="H4" terrain="mountain" river=""></hextile>
	</div>
	<div class="line" id="l6">
		<hextile fi="B5" terrain="forest" river="north_west,north_east,south_west,south_east"></hextile>
		<hextile fi="C5" terrain="forest" river="north_west,north_east,south_west,south_east"></hextile>
		<hextile fi="D5" terrain="farm" river="south_west,north_west,north_east"></hextile>
		<hextile fi="E5" terrain="tundra" river="east"></hextile>
		<hextile fi="F5" terrain="lake"></hextile>
		<hextile fi="G5" terrain="village" river="north_east"></hextile>
		<hextile fi="H5" terrain="lake"></hextile>
	</div>
	<div class="line" id="l7">
		<hextile fi="C6" terrain="mountain" river="north_west,north_east"></hextile>
		<hextile fi="D6" terrain="village" river="north_west,north_east,east"></hextile>
		<hextile fi="E5" terrain="village" river="west,south_west,south_east"></hextile>
		<hextile fi="F6" terrain="tundra" river="south_west,south_east"></hextile>
		<hextile fi="G6" terrain="forest" river="south_west"></hextile>
		<hextile fi="H6" terrain="mountain"></hextile>
		<hextile fi="I6" terrain="tundra"></hextile>
	</div>
	<div class="line" id="l8">
		<hextile fi="C7" faction="Saxony"></hextile>
		<hextile fi="D7" terrain="tundra"></hextile>
		<hextile fi="E7" terrain="lake"></hextile>
		<hextile fi="F7" terrain="farm" river="north_west,north_east"></hextile>
		<hextile fi="G7" terrain="mountain" river="north_west,north_east,east"></hextile>
		<hextile fi="H7" terrain="village" river="west"></hextile>
		<hextile fi="I7" terrain="farm"></hextile>
		<hextile fi="J7" faction="Togawa"></hextile>
	</div>
	<div class="line" id="l9">
		<hextile fi="F8" faction="Crimea"></hextile>
		<hextile fi="G8" terrain="village"></hextile>
	</div>
</div>
